
html, body{
  height: 100%;
}
body{
  margin: 0;
}


html{

    background: url('../images/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navMenu{
  padding: 1rem;
  overflow: hidden;
  background-color: #3c3c3c;

}

.navContent{
  float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #384ea2;
}

.active {
    background-color: #384ea2;
}

.pic{
  max-height: 25%;
  min-height: 300px;
  max-width: 25%;
  min-width: 300px;
    margin: auto;
}

.profilePic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}

.myInfo{
    margin: auto;


}
