
html, body{
  height: 100%;
}
body{
  margin: 0;
}
/* -----different fonts for the page------*/
@font-face {
    font-family: Atarian;
    src: url('../fonts/Atarian/SF Atarian System Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: AtarianR;
    src: url('../fonts/Atarian/SF Atarian System.ttf');
}

/*------ The navigation bar ------*/
.topnav {
  overflow: hidden;
  padding:  1rem;
  font-family: AtarianR;
  /*position: fixed;*/
}

.navContent {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.active {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.icon{
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #c6c6c6;
}

.active {
  background: none;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*------ Game Designer Title,  picture and background------*/
h1{
  font-family: Atarian;
  font-size: 5rem;
  color: #384ea2;
}
@media screen and (max-width: 600px) {
  h1{
    font-size: 3rem;
  }
}
.pic{
  max-height: 25%;
  min-height: 300px;
  max-width: 25%;
  min-width: 300px;
    margin: auto;
}
.profilePic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  background: url('../images/background5.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.myInfo{
    margin: auto;
}


/*------ The the word "project" ------*/
.theWordProjects{
  padding: 1rem;
  padding-left: 2rem;
  font-family: AtarianR;
}

/*------ My projects ------*/

.projectContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

/*------ sets min/max width for container ------*/
.container{
  flex-grow: 1  ;
  flex-basis: auto;
  max-width: 545px;
  max-height: 371.2px;
  min-width: 545px;
  min-height: 371.2px;
}

/*------ sets min/max width for picture ------*/
.pp{
  max-height: 30%;
  max-width: 30%;
  min-height: 300px;
  min-width: 500px;
}

/*------ The name for my pieces ------*/
.pieceTitle{
  text-align: center;
  align-self: center;
  align-content: center;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .projectContainer{
    flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  .pp{
    max-height: 30%;
    max-width: 30%;
    min-height: 200px;
    min-width: 400px;
  }
  .container{
    flex-grow: 1  ;
    flex-basis: auto;
    max-width: 400px;
    max-height: 224px;
    min-width: 400px;
    min-height: 224px;
  }
  .pieceTitle{
    display: none;
  }
}

/*------ VR parallex scrolling ------*/
