html, body {
  height: 100%; }

body {
  margin: 0; }

.profilePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  background: url("../images/mauerfall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%; }

.myInfo {
  margin: auto; }

.padding-top {
  padding-top: 100px; }

.projectContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#projectContentPadding {
  padding-left: 0px; }

@media screen and (max-width: 1600px) {
  .narrativeFlowboardImg {
    max-height: 800px;
    max-width: 1600px; }
  .contentContainerSolo {
    max-height: 800px;
    max-width: 1600px; } }

.contentContainerSame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }

.contentContainerSameCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }

.contentContainer {
  min-width: 300px;
  max-width: 530px;
  min-height: 300px;
  max-height: 500px; }

.contentContainerSolo {
  min-width: 600px;
  max-width: 1200px;
  min-height: 600px;
  max-height: 800px; }

.contentContainerVertical {
  min-width: 300px;
  max-width: 400px;
  min-height: 450px;
  max-height: 600px; }

.contentContainerHorizontal {
  min-width: 450px;
  max-width: 600px;
  min-height: 300px;
  max-height: 400px; }

.contentContainerLong {
  min-width: 300px;
  max-width: 530px;
  min-height: 300px;
  max-height: 550px; }

.contentContainerTexySolo {
  min-width: 400px;
  max-width: 1200px;
  min-height: 200px;
  max-height: 1000px; }

.contentContainerAvgIng {
  min-width: 450px;
  max-width: 675px;
  min-height: 400px;
  max-height: 600px; }

.kongtext {
  font-family: PostScriptum; }

@media screen and (max-width: 600px) {
  .projectContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contentContainer {
    min-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #projectContentPadding {
    padding-left: 20px; } }

@media screen and (max-width: 1200px) {
  .narrativeFlowboardImg {
    max-height: 580px; } }

@media screen and (max-width: 950px) {
  .narrativeFlowboardImg {
    max-height: 480px; } }

.context {
  max-width: 500px; }

.contextSolo {
  max-width: 1200px; }

#padding-top {
  padding-top: 30px; }

p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-family: raleway;
  line-height: 1.6; }

ol {
  font-family: ralewayBold; }

ul {
  font-family: raleway; }

.kidnapImg {
  max-width: 800px;
  max-height: 400px;
  padding-top: 0.5rem; }

.coreloopImg {
  min-width: 450px;
  min-height: 400px;
  max-width: 670px;
  max-height: 600px; }

.mechanicsImg {
  min-width: 530px;
  min-height: 400px;
  max-width: 745px;
  max-height: 600px; }

.overviewImg {
  min-width: 300px;
  min-height: 450px;
  max-width: 400px;
  max-height: 600px;
  padding-top: 0.5rem; }

.narrativeImg {
  min-width: 450px;
  min-height: 300px;
  max-width: 600px;
  max-height: 400px;
  padding-top: 0.5rem; }

.narrativeFlowboardImg {
  min-width: 600px;
  max-width: 1200px;
  min-height: 600px;
  max-height: 800px;
  padding-top: 0.5rem; }

.playtestImg {
  min-width: 400px;
  min-height: 400px; }
