/* -----different fonts for the page------*/
@font-face {
  font-family: Atarian;
  src: url("../fonts/Atarian/SF Atarian System Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: AtarianR;
  src: url("../fonts/Atarian/SF Atarian System.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: kongtext;
  src: url("../fonts/kongtext/kongtext.ttf");
}

@font-face {
  font-family: PostScriptum;
  src: url("../fonts/post_scriptum/PostScriptum Light.ttf");
}

@font-face {
  font-family: ralewayBold;
  src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
}

/*------ The navigation bar ------*/
.topnav {
  overflow: hidden;
  padding: 1rem;
  padding-bottom: 0;
  font-family: AtarianR;
  position: fixed;
  width: 100%;
}

.floatRight {
  padding: 0;
  padding-right: 1rem;
  margin: 0;
  color: white;
}

.navContent {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.navContent:hover {
  color: #384ea2 !important;
}

.active {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.icon {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.floatRight a:hover {
  color: #384ea2;
}

.active {
  background: none;
  color: white;
}

.floatRight .icon {
  display: none;
}

.moveLeft {
  position: absolute;
  right: 25%;
  margin-right: 50%;
}

.moveRight {
  position: absolute;
  left: 25%;
}

@media screen and (max-width: 500px) {
  .floatRight a:not(:first-child) {
    display: none;
  }
  .floatRight a.icon {
    float: right;
    display: block;
  }
  .floatRight.responsive {
    position: relative;
    margin-left: auto;
  }
  .floatRight.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .floatRight.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

/*-----------footer--------------*/
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #000;
  text-align: center;
  min-height: 100px;
  margin-top: 100px;
}

.footerTextA {
  color: white;
}

.footerTextB {
  color: white;
  font-size: 0.7rem;
}

.footerLinks {
  color: white;
  text-decoration: none;
}

.footerLinks:link {
  color: white;
  text-decoration: none;
}

.footerLinks:visited {
  color: white;
  text-decoration: none;
}

.footerLinks:hover {
  text-decoration: underline;
}

.footerLinks:active {
  color: green;
}

.socialMediaImg {
  display: inline-block;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.profilePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  background: url("../images/Mauerfall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
}

.myInfo {
  margin: auto;
}

.padding-top {
  padding-top: 100px;
}

.projectContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#projectContentPadding {
  padding-left: 0px;
}

.contentContainerSame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.contentContainerSameCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.contentContainer {
  min-width: 300px;
  max-width: 530px;
  min-height: 300px;
  max-height: 500px;
}

@media screen and (max-width: 2000px) {
  .contentContainerSolo {
    max-height: 800px;
    max-width: 1600px;
  }
  .narrativeFlowboardImg {
    max-height: 800px;
    max-width: 1600px;
  }
}

@media screen and (max-width: 1600px) {
  .narrativeFlowboardImg {
    max-height: 580px;
  }
  .contentContainerSolo {
    min-width: 600px;
    max-width: 1200px;
    min-height: 600px;
    max-height: 800px;
  }
}

@media screen and (max-width: 1100px) {
  .narrativeFlowboardImg {
    max-height: 480px;
  }
  .contentContainerSolo {
    min-width: 600px;
    max-width: 1200px;
    min-height: 600px;
    max-height: 800px;
  }
}

@media screen and (max-width: 900px) {
  .narrativeFlowboardImg {
    max-height: 480px;
    max-width: 600px;
  }
  .contentContainerSolo {
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 480px;
  }
}

@media screen and (max-width: 615px) {
  .narrativeFlowboardImg {
    display: none;
  }
  .contentContainerSolo {
    display: none;
  }
}

.contentContainerVertical {
  min-width: 300px;
  max-width: 400px;
  min-height: 450px;
  max-height: 600px;
}

.contentContainerHorizontal {
  min-width: 450px;
  max-width: 600px;
  min-height: 300px;
  max-height: 400px;
}

.contentContainerLong {
  min-width: 300px;
  max-width: 530px;
  min-height: 300px;
  max-height: 550px;
}

.contentContainerTexySolo {
  min-width: 400px;
  max-width: 1200px;
  min-height: 200px;
  max-height: 1300px;
}

.contentContainerAvgIng {
  min-width: 450px;
  max-width: 675px;
  min-height: 400px;
  max-height: 600px;
}

.kongtext {
  font-family: PostScriptum;
}

@media screen and (max-width: 600px) {
  .projectContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contentContainer {
    min-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contentContainerTexySolo {
    min-width: 300px;
  }
  #projectContentPadding {
    padding-left: 20px;
  }
  .contentContainerAvgIng {
    max-width: 400px;
    max-height: 400px;
  }
  body .mechanicsImg {
    max-width: 450px;
    max-height: 400px;
    min-width: 450px;
    min-height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .projectContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contentContainer {
    min-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contentContainerTexySolo {
    min-width: 300px;
  }
  #projectContentPadding {
    padding-left: 20px;
  }
  body .mechanicsImg {
    max-width: 300px;
    max-height: 266px;
    min-width: 300px;
    min-height: 266px;
  }
  .contentContainerAvgIng {
    max-width: 300px;
    max-height: 266px;
    min-width: 300px;
    min-height: 266px;
  }
  body .coreloopImg {
    max-width: 300px;
    max-height: 266px;
    min-width: 300px;
    min-height: 266px;
  }
  body .narrativeImg {
    max-width: 350px;
    max-height: 233px;
    min-width: 350px;
    min-height: 233px;
  }
  .contentContainerHorizontal {
    max-width: 350px;
    max-height: 233px;
    min-width: 350px;
    min-height: 233px;
  }
  body .playtestImg {
    max-width: 300px;
    max-height: 266px;
    min-width: 300px;
    min-height: 266px;
  }
}

.context {
  max-width: 500px;
}

.contextSolo {
  max-width: 1200px;
}

#padding-top {
  padding-top: 30px;
}

p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-family: raleway;
  line-height: 1.6;
}

ol {
  font-family: ralewayBold;
}

ul {
  font-family: raleway;
}

.kidnapImg {
  max-width: 800px;
  max-height: 400px;
  padding-top: 0.5rem;
}

.coreloopImg {
  min-width: 450px;
  min-height: 400px;
  max-width: 670px;
  max-height: 600px;
}

.mechanicsImg {
  min-width: 530px;
  min-height: 400px;
  max-width: 745px;
  max-height: 600px;
}

.overviewImg {
  min-width: 300px;
  min-height: 450px;
  max-width: 400px;
  max-height: 600px;
  padding-top: 0.5rem;
}

.narrativeImg {
  min-width: 450px;
  min-height: 300px;
  max-width: 600px;
  max-height: 400px;
  padding-top: 0.5rem;
}

.playtestImg {
  min-width: 400px;
  min-height: 400px;
}
