/* -----different fonts for the page------*/
@font-face {
  font-family: Atarian;
  src: url("../fonts/Atarian/SF Atarian System Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: AtarianR;
  src: url("../fonts/Atarian/SF Atarian System.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: kongtext;
  src: url("../fonts/kongtext/kongtext.ttf");
}

@font-face {
  font-family: PostScriptum;
  src: url("../fonts/post_scriptum/PostScriptum Light.ttf");
}

@font-face {
  font-family: ralewayBold;
  src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
}

/*------ The navigation bar ------*/
.topnav {
  overflow: hidden;
  padding: 1rem;
  padding-bottom: 0;
  font-family: AtarianR;
  position: fixed;
  width: 100%;
}

.floatRight {
  padding: 0;
  padding-right: 1rem;
  margin: 0;
  color: white;
}

.navContent {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.navContent:hover {
  color: #384ea2 !important;
}

.active {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.icon {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.floatRight a:hover {
  color: #384ea2;
}

.active {
  background: none;
  color: white;
}

.floatRight .icon {
  display: none;
}

.moveLeft {
  position: absolute;
  right: 25%;
  margin-right: 50%;
}

.moveRight {
  position: absolute;
  left: 25%;
}

@media screen and (max-width: 500px) {
  .floatRight a:not(:first-child) {
    display: none;
  }
  .floatRight a.icon {
    float: right;
    display: block;
  }
  .floatRight.responsive {
    position: relative;
    margin-left: auto;
  }
  .floatRight.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .floatRight.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

/*-----------footer--------------*/
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #000;
  text-align: center;
  min-height: 100px;
  margin-top: 100px;
}

.footerTextA {
  color: white;
}

.footerTextB {
  color: white;
  font-size: 0.7rem;
}

.footerLinks {
  color: white;
  text-decoration: none;
}

.footerLinks:link {
  color: white;
  text-decoration: none;
}

.footerLinks:visited {
  color: white;
  text-decoration: none;
}

.footerLinks:hover {
  text-decoration: underline;
}

.footerLinks:active {
  color: green;
}

.socialMediaImg {
  display: inline-block;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

/*------ Game Designer Title,  picture and background------*/
h1 {
  font-family: Atarian;
  font-size: 5rem;
  color: #384ea2;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}

.pic {
  max-height: 25%;
  min-height: 300px;
  max-width: 25%;
  min-width: 300px;
  margin: auto;
  padding-top: 4.5rem;
}

.profilePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  background: url("../images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.myInfo {
  margin: auto;
}

/*------ The the word "project" ------*/
.theWordProjects {
  padding: 1rem;
  padding-left: 2rem;
  font-family: AtarianR;
}

/*------ My projects ------*/
.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
}

/*------ sets min/max width for container ------*/
.container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  max-width: 545px;
  max-height: 371.2px;
  min-width: 545px;
  min-height: 371.2px;
}

/*------ sets min/max width for picture ------*/
.pp {
  max-height: 30%;
  max-width: 30%;
  min-height: 300px;
  min-width: 500px;
}

/*------ The name for my pieces ------*/
.pieceTitle {
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

/*@media screen and (max-width: 500px) {
  .projectContainer{
    flex-direction: column;
  }
}*/
@media screen and (max-width: 540px) {
  .pp {
    max-height: 30%;
    max-width: 30%;
    min-height: 200px;
    min-width: 400px;
  }
  .container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 400px;
    max-height: 224px;
    min-width: 400px;
    min-height: 224px;
  }
  .pieceTitle {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .pp {
    max-height: 168px;
    max-width: 300px;
    min-height: 168px;
    min-width: 300px;
  }
  .container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 300px;
    max-height: 168px;
    min-width: 300px;
    min-height: 168px;
  }
}

/*------ VR parallex scrolling ------*/
.VR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  background: url("../images/oculus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 60%;
}

/*-----------Profile---------------*/
.padding-top {
  padding-top: 100px;
}

.contentContainerSame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.projectContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contentContainer {
  min-width: 300px;
  max-width: 530px;
  min-height: 300px;
  max-height: 500px;
}

.contentContainerAvgIng {
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 400px;
}

.profileImg {
  min-width: 300px;
  min-height: 300px;
  max-width: 400px;
  max-height: 400px;
}

@media screen and (max-width: 450px) {
  .profileImg {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
  }
}

.context {
  max-width: 500px;
  font-family: raleway;
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */