html, body {
  height: 100%; }

  body{
    margin: 0;
  }

body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #384ea2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
  max-width: 1000px;
    border-radius: 5px;
    background-color: #384ea2;
    padding: 20px;
}

.projectContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#projectContentPadding{
    padding-left: 0px;
}

.contentContainer{
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 500px;
//  background-color: blue;

}

.context{
  max-width: 400px;
  font-family: raleway;
  color: white;
  background-color: #384ea2;
  padding: 40px;


}

.contentContainerAvgIng{
  min-width: 200px;
  max-width: 300px;
  min-height: 300px;
  max-height: 412px;
}

.overviewImg{
  min-width: 200px;
  max-width: 300px;
  min-height: 300px;
  max-height: 412px;
  padding-top: 0.5rem;
}

.formBackground{
    background-color: #f2f2f2;
}

.contentContainerSame{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin:  10px;
  flex-grow: 1;
  flex-basis: auto;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 2000px) {
  .contentContainerSolo{
    min-width: 250px;
    max-width: 800px;
    min-height: 500px;
    max-height: 800px;
  }
}

.contactForm{
  text-align: center;
  min-width: 300px;
  max-width: 800px;
  justify-content: center;
}
